{% extends "products/base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p><strong>Category:</strong> {{ product.category.name|default:"No Category" }}</p>
    <p><strong>Price:</strong> Rs.{{ product.price }}</p>
    {% if product.image %}
            <img src = "{{ product.image.url }}"
                 width = '300'
                 style = "object-fit: cover ;">
    {% else %}
        <p> No image avialable </p>
    {% endif %}

    <p><strong>Price:</strong> Rs.{{ product.price }}</p>
    <p><strong>Stock:</strong> {{ product.stock }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Added on:</strong> {{ product.created_at|date:"d M Y" }}</p>
    <br>
    {% comment %} <a href="/products/">← Back to Products</a> {% endcomment %}
    <a href="{% url 'products:product-list' %}">- Back to Products</a>
{% endblock %}